{{template "admin-base" .}}

{{define "title"}}Send Vote Emails - vMaintain Admin{{end}}

{{define "admin-title"}}Send Vote Emails{{end}}
{{define "content-title"}}Send Vote Emails{{end}}

{{define "css"}}
{{end}}

{{define "content"}}


{{end}}

{{define "js"}}

{{end}}